<header>

    <section class="header-menu">
        <a href="/product_list"><img src="/image/logoMH.png" alt="logo" width="100px" height="100px"></a>
        <form action="#" class="search-form-001">
            <label>
                <input type="text" placeholder="Search" width="300px" height="40px">
            </label>
            <button type="submit" aria-label="search"></button>
        </form>
        <a href="/staff_login">Staff Login</a>

        <article class="hamburger-menu">
    
            <!-- check box for hamburger menu -->
            <input id="drawer_input" class="drawer_hidden" type="checkbox">
    
            <!-- icon for hamburger menu -->
            <label for="drawer_input" class="drawer_open"><span></span></label>
    
            <!-- hamburger menu -->
            <nav class="nav_content">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/product_all">All</a></li>
                    <li class="nav_item"><a href="/product_brand">Brand</a></li>
                    <li class="nav_item"><a href="/product_price">Price</a></li>
                    <li class="nav_item"><a href="/product_stock">Available in Stock</a></li>
                </ul>
            </nav>
   
        </article>
    </section>
    <nav class="gnav">
        <ul class="gnav_wrapper">
            <li><a href="/product_all">All</a></li>
            <li><a href="/product_brand">Brand</a></li>
            <li><a href="/product_price">Price</a></li>
            <li><a href="/product_stock">Stock</a></li>
        </ul>
    </nav>
</header>